/* 
COLOR PALETTE
#272635 - raisin black
#7F95D1 - vista blue
#B75D69 - redwood
#C6CCB2 - ash gray
#F2DFD7 - champagne pink
#E1EFF6 - alice blue
#001B2E - oxford blue
#3D7068 - Some green
#08415C - Indigo dye
*/

/* Global styles
------------------------------------------------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #272635;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
/* img {
    width: 300px;
} */
a {
    color: #2D1E2F;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 40px 0;
}
.nav-content {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    text-align: right;
    padding-right: 15px;
}
.nav-content a {
    color: #F2DFD7;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
.nav-content a:hover {
    background: #C6CCB2;
    color: #272635;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.divider > section{
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}


/* Profile
------------------------------------------------- */
header {
   background: #001B2E; 
   color: #E1EFF6;
}

/* Work Experience
------------------------------------------------- */
.work-experience {
    background: #B75D69;
    color: #E1EFF6;
}

.work-experience a .btn {
    color: #001B2E;
}
.work-experience .btn {
    color: white;
    background: #001B2E;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.work-experience .btn:hover {
    background: rgba(0, 27, 46, 80%);
}

/* Personal Life
------------------------------------------------- */
.personal-life {
    background: #3D7068;
    color: #E1EFF6;
}
.personal-life a .btn {
    color: #001B2E;
}
.personal-life .btn {
    color: white;
    background: #001B2E;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.personal-life .btn:hover {
    background: rgba(0, 27, 46, 80%);
}
/*
.project-item {
    overflow: hidden;
}
.project-item h3 {
    margin-top: 0;
} */

/* Education & Certifications
------------------------------------------------- */
.education-certifications {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
}
.education-certifications p, 
.education-certifications h2, 
.education-certifications h3 {
    width: 60%;
}

/* Paintings */
.painting {
    background: #B75D69;
    color: #E1EFF6;
}

.open-modal {
    background: #20c997;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 48px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}

.open-modal:active {
    transform: translateY(-17px);
}
.modal-content {
    background: #ccc;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    z-index: 99;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #000;
    font-size: 30px;
}

.modal-body p { 
   font-size: 22px;
    line-height: 1.5; 
} 

.hidden-modal { 
   display: none; 
}
.close-modal {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 40px;
}

.close-modal:hover {
    color: #fa5252;
}
.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.hidden-blur {
    display: none;
}

/* Contact
------------------------------------------------- */
footer {
    background: #7F95D1;
    color: #E1EFF6;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 20px;
    display: inline-block;
}


/* Responsive
------------------------------------------------- */
@media screen and (min-width:750px){
    header, footer {
        text-align: center;
    }

    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:749px){
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px;
    }
}